.container {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url(../../assets/imgs/gift-containerBg.png);
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .clickme {
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
}     